@import '~office-ui-fabric-react/dist/sass/References.scss';

.blocket {
  // background-color: #d2d0ce;

  .annons {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .annons td, .annons th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .annons tr:hover {background-color: #ddd;}
  
  .annons th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0078D4;
    color: white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
    .peoplePicker{
      width: 300;
    }
  }
}
  